$primary: #5665EE;
$borderRadius: 12px;
$shadow: 0 0 5px rgba(0, 0, 0, 0.1);


.backgroundGlass{
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}